<a href="https://colab.research.google.com/github/Faherme46/Practica/blob/main/Parcial_IA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Dataset Creation**

In [ ]:
# the library is imported to be able to use it later
import pandas as pd
import numpy as np

In [117]:
# loading dataset and make a first overview
ruta = "/content/Turismo_Receptivo_en_el_Valle_del_Cauca.csv"
datos = pd.read_csv(ruta)

In [118]:
# Create a DataFrame with data
df = pd.DataFrame(datos)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1703 entries, 0 to 1702
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   GENERO                    1703 non-null   object
 1   PAÍS DE PROCEDENCIA       1703 non-null   object
 2   DEPARTAMENTO              1703 non-null   object
 3   RANGO EDAD                1702 non-null   object
 4   MOTIVO VIAJE              1703 non-null   object
 5   NOCHES                    1695 non-null   object
 6   TIPO ALOJAMIENTO          1703 non-null   object
 7   GASTO TURISTICO GENERADO  1703 non-null   int64
 8   MEDIO                     1703 non-null   object
 9   AÑO                       1703 non-null   int64
dtypes: int64(2), object(8)
memory usage: 133.2+ KB


# **Data selection**

studying the data set, we find that it is good for our purpose. The data is structured, the size is appropriate for the process and is relevant to our mission

In the previous entry we can find that there is not much missing data, this will be quite useful for our purpose.
The colums whith missing data are "Noches" and "Rango edad". Go to review to evaluate if is necesary and possible delete the columns.

We must do a review of the entries

In [119]:
df_ordenado = df.sort_values(by='PAÍS DE PROCEDENCIA')
df_ordenado.head()

,GENERO,PAÍS DE PROCEDENCIA,DEPARTAMENTO,RANGO EDAD,MOTIVO VIAJE,NOCHES,TIPO ALOJAMIENTO,GASTO TURISTICO GENERADO,MEDIO,AÑO
105,MASCULINO,ARGENTINA,SIN INFORMACION,27-38,VISITAR A FAMILIARES Y/O AMIGOS,10,HOTEL,6000000,AMIGOS Y/O FAMILIARES.,2021
205,FEMENINO,ARGENTINA,SIN INFORMACION,27-38,VISITAR A FAMILIARES Y/O AMIGOS,4,HOTEL,5000000,AMIGOS Y/O FAMILIARES.,2021
439,FEMENINO,ARGENTINA,SIN INFORMACION,27-38,VISITAR A FAMILIARES Y/O AMIGOS,4,HOTEL,5000000,AMIGOS Y/O FAMILIARES.,2021
919,FEMENINO,BRASIL,SIN INFORMACION,39-50,"VACACIONES, RECREO Y OCIO",30,CASA FAMILIARES / AMIGOS,3000000,YA LOS CONOCÍA,2022
1512,FEMENINO,BRASIL,SIN INFORMACION,39-50,"VACACIONES, RECREO Y OCIO",30,CASA FAMILIARES / AMIGOS,6000000,YA LOS CONOCÍA,2022

It can be seen that the department column does not apply to countries other than Colombia, therefore it can be removed from the dataset

In [120]:
try:
  df=df.drop(['DEPARTAMENTO'],axis=1)
except:
  print("Ya fue borrado")

In [121]:
#update and review the end of dataset
df_ordenado = df.sort_values(by='PAÍS DE PROCEDENCIA')
df_ordenado.tail(50)

,GENERO,PAÍS DE PROCEDENCIA,RANGO EDAD,MOTIVO VIAJE,NOCHES,TIPO ALOJAMIENTO,GASTO TURISTICO GENERADO,MEDIO,AÑO
949,FEMENINO,SIN INFORMACION,39-50,"VACACIONES, RECREO Y OCIO",30,HOTEL,4000000,YA LOS CONOCÍA,2022
950,FEMENINO,SIN INFORMACION,39-50,"VACACIONES, RECREO Y OCIO",30,HOTEL,4000000,YA LOS CONOCÍA,2022
951,MASCULINO,SIN INFORMACION,39-50,"VACACIONES, RECREO Y OCIO",30,CASA FAMILIARES / AMIGOS,4000000,YA LOS CONOCÍA,2022
1100,MASCULINO,SIN INFORMACION,39-50,ASISTIR A EVENTOS DEPORTIVOS COMO DEPORTISTA O...,15,HOTEL,5800000,GUÍAS TURÍSTICAS Y MEDIOS ESPECIALIZADOS EN TU...,2022
1175,FEMENINO,SIN INFORMACION,27-38,"VACACIONES, RECREO Y OCIO",6,HOTEL,3600000,GUÍAS TURÍSTICAS Y MEDIOS ESPECIALIZADOS EN TU...,2022
712,FEMENINO,SIN INFORMACION,SIN INFORMACION,"VACACIONES, RECREO Y OCIO",SIN INFORMACION,SIN INFORMACION,350000,AMIGOS Y/O FAMILIARES.,2022
1207,FEMENINO,SIN INFORMACION,15-26,VISITAR A FAMILIARES Y/O AMIGOS,2,CASA FAMILIARES / AMIGOS,500000,AMIGOS Y/O FAMILIARES.,2022
1324,MASCULINO,SIN INFORMACION,27-38,"VACACIONES, RECREO Y OCIO",4,HOTEL,9000000,"BÚSQUEDAS, PÁGINAS Y AVISOS EN INTERNET.",2022
745,MASCULINO,SIN INFORMACION,39-50,"VACACIONES, RECREO Y OCIO",5,HOTEL,9000000,REDES SOCIALES,2022
1380,FEMENINO,SIN INFORMACION,SIN INFORMACION,VISITAR A FAMILIARES Y/O AMIGOS,6,SIN INFORMACION,0,AMIGOS Y/O FAMILIARES.,2022
966,MASCULINO,SIN INFORMACION,27-38,"VACACIONES, RECREO Y OCIO",30,CASA FAMILIARES / AMIGOS,4000000,YA LOS CONOCÍA,2022
554,FEMENINO,SIN INFORMACION,27-38,VISITAR A FAMILIARES Y/O AMIGOS,8,CASA FAMILIARES / AMIGOS,8000000,AMIGOS Y/O FAMILIARES.,2022
813,MASCULINO,SIN INFORMACION,15-26,VISITAR A FAMILIARES Y/O AMIGOS,8,CASA FAMILIARES / AMIGOS,850000,AMIGOS Y/O FAMILIARES.,2022
551,MASCULINO,SIN INFORMACION,27-38,"VACACIONES, RECREO Y OCIO",6,HOTEL,3500000,AMIGOS Y/O FAMILIARES.,2022
1145,FEMENINO,SIN INFORMACION,27-38,VISITAR A FAMILIARES Y/O AMIGOS,8,CASA FAMILIARES / AMIGOS,1500000,YA LOS CONOCÍA,2022
1204,FEMENINO,SIN INFORMACION,27-38,ASISTIR A EVENTOS DEPORTIVOS COMO DEPORTISTA O...,21,HOSTAL / ALBERGUE / REFUGIO / POSADA TURÍSTICA,3000000,REDES SOCIALES,2022
725,MASCULINO,SIN INFORMACION,27-38,VISITAR A FAMILIARES Y/O AMIGOS,6,CASA FAMILIARES / AMIGOS,10000000,AMIGOS Y/O FAMILIARES.,2022
1592,MASCULINO,SIN INFORMACION,27-38,VISITAR A FAMILIARES Y/O AMIGOS,9,CASA FAMILIARES / AMIGOS,900000,YA LOS CONOCÍA,2022
1591,FEMENINO,SIN INFORMACION,39-50,VISITAR A FAMILIARES Y/O AMIGOS,9,CASA FAMILIARES / AMIGOS,900000,YA LOS CONOCÍA,2022
1590,MASCULINO,SIN INFORMACION,39-50,VISITAR A FAMILIARES Y/O AMIGOS,10,HOTEL,1000000,YA LOS CONOCÍA,2022
675,FEMENINO,SIN INFORMACION,39-50,"VACACIONES, RECREO Y OCIO",1,HOTEL,250000,REDES SOCIALES,2022
953,FEMENINO,SIN INFORMACION,39-50,"VACACIONES, RECREO Y OCIO",30,HOTEL,3000000,AMIGOS Y/O FAMILIARES.,2022
1674,MASCULINO,SUIZA,39-50,VISITAR A FAMILIARES Y/O AMIGOS,30,CASA FAMILIARES / AMIGOS,3000000,YA LOS CONOCÍA,2022
1439,FEMENINO,SUIZA,39-50,VISITAR A FAMILIARES Y/O AMIGOS,60,CASA FAMILIARES / AMIGOS,20000000,YA LOS CONOCÍA,2022
1676,MASCULINO,SUIZA,27-38,VISITAR A FAMILIARES Y/O AMIGOS,30,CASA FAMILIARES / AMIGOS,3000000,YA LOS CONOCÍA,2022
809,MASCULINO,VENEZUELA,mas de 63,VISITAR A FAMILIARES Y/O AMIGOS,6,CASA FAMILIARES / AMIGOS,2000000,AMIGOS Y/O FAMILIARES.,2022
352,FEMENINO,VENEZUELA,15-26,VENDER BIENES O PRESTAR SERVICIOS COMO REPRESE...,30,CASA FAMILIARES / AMIGOS,1000000,AMIGOS Y/O FAMILIARES.,2021
472,FEMENINO,VENEZUELA,15-26,DE PASO,1,CASA FAMILIARES / AMIGOS,450000,AMIGOS Y/O FAMILIARES.,2021
278,MASCULINO,VENEZUELA,27-38,"TURISMO DE NEGOCIOS: REALIZAR INVERSIÓN, VENDE...",NaN,CASA / CABAÑA DE VACACIONES / APARTAMENTO ARRE...,2000000,AMIGOS Y/O FAMILIARES.,2021
283,MASCULINO,VENEZUELA,27-38,DE PASO,0,SIN INFORMACION,140000,AMIGOS Y/O FAMILIARES.,2021
235,FEMENINO,VENEZUELA,15-26,VISITAR A FAMILIARES Y/O AMIGOS,30,CASA FAMILIARES / AMIGOS,400000,AMIGOS Y/O FAMILIARES.,2021
298,FEMENINO,VENEZUELA,15-26,DE PASO,0,SIN INFORMACION,150000,AMIGOS Y/O FAMILIARES.,2021
227,FEMENINO,VENEZUELA,15-26,DE PASO,1,CASA FAMILIARES / AMIGOS,200000,AMIGOS Y/O FAMILIARES.,2021
304,MASCULINO,VENEZUELA,15-26,DE PASO,0,SIN INFORMACION,200000,AMIGOS Y/O FAMILIARES.,2021
305,FEMENINO,VENEZUELA,15-26,DE PASO,0,SIN INFORMACION,200000,AMIGOS Y/O FAMILIARES.,2021
219,MASCULINO,VENEZUELA,27-38,VISITAR A FAMILIARES Y/O AMIGOS,4,HOTEL,1500000,AMIGOS Y/O FAMILIARES.,2021
218,MASCULINO,VENEZUELA,39-50,VISITAR A FAMILIARES Y/O AMIGOS,4,HOTEL,1500000,AMIGOS Y/O FAMILIARES.,2021
1241,MASCULINO,VENEZUELA,27-38,"VACACIONES, RECREO Y OCIO",SIN INFORMACION,NINGUNO.,500000,REDES SOCIALES,2022
317,FEMENINO,VENEZUELA,27-38,"VACACIONES, RECREO Y OCIO",5,CASA FAMILIARES / AMIGOS,1000000,YA LOS CONOCÍA,2021
201,FEMENINO,VENEZUELA,15-26,DE PASO,1,OTRO,160000,AMIGOS Y/O FAMILIARES.,2021
1113,MASCULINO,VENEZUELA,39-50,VISITAR A FAMILIARES Y/O AMIGOS,15,CASA FAMILIARES / AMIGOS,100000,AMIGOS Y/O FAMILIARES.,2022
354,FEMENINO,VENEZUELA,15-26,DE PASO,0,SIN INFORMACION,120000,AMIGOS Y/O FAMILIARES.,2021
355,MASCULINO,VENEZUELA,15-26,DE PASO,0,SIN INFORMACION,120000,AMIGOS Y/O FAMILIARES.,2021
1299,MASCULINO,VENEZUELA,SIN INFORMACION,"VACACIONES, RECREO Y OCIO",2,CASA FAMILIARES / AMIGOS,0,AMIGOS Y/O FAMILIARES.,2022
369,FEMENINO,VENEZUELA,27-38,DE PASO,0,SIN INFORMACION,200000,AMIGOS Y/O FAMILIARES.,2021
370,MASCULINO,VENEZUELA,27-38,DE PASO,0,SIN INFORMACION,200000,AMIGOS Y/O FAMILIARES.,2021
390,FEMENINO,VENEZUELA,27-38,VISITAR A FAMILIARES Y/O AMIGOS,15,CASA FAMILIARES / AMIGOS,800000,YA LOS CONOCÍA,2021
476,MASCULINO,VENEZUELA,27-38,DE PASO,1,CASA FAMILIARES / AMIGOS,450000,AMIGOS Y/O FAMILIARES.,2021
202,MASCULINO,VENEZUELA,27-38,DE PASO,1,OTRO,160000,AMIGOS Y/O FAMILIARES.,2021
441,FEMENINO,VENEZUELA,27-38,VISITAR A FAMILIARES Y/O AMIGOS,3,HOTEL,1000000,AMIGOS Y/O FAMILIARES.,2021

We have seen that there are boxes labeled "SIN INFORMACION" which indicates that there is much more missing data than we thought. Therefore, we are going to replace the "SIN INFORMACION" data with NaN entries so that the library can detect them.

In [122]:
#REPLACE DATA AND REVIEW
df=df.replace('SIN INFORMACION', np.nan)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1703 entries, 0 to 1702
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   GENERO                    1702 non-null   object
 1   PAÍS DE PROCEDENCIA       1649 non-null   object
 2   RANGO EDAD                1653 non-null   object
 3   MOTIVO VIAJE              1629 non-null   object
 4   NOCHES                    1547 non-null   object
 5   TIPO ALOJAMIENTO          1556 non-null   object
 6   GASTO TURISTICO GENERADO  1703 non-null   int64
 7   MEDIO                     1702 non-null   object
 8   AÑO                       1703 non-null   int64
dtypes: int64(2), object(7)
memory usage: 119.9+ KB

The PAIS DE PROCEDENCIA  column is not very related to the model we want to develop, therefore we are going to discard this.
We will also discard column MEDIO as its relevance to the model is very low.

In [123]:
#order to delete the columns
try:
  df=df.drop(['MEDIO'],axis=1)    
  df=df.drop(['PAÍS DE PROCEDENCIA'],axis=1)
  
except:
  print("Ya fueron borrados")

We believe that currently gender is not an issue that affects a person's tourist capacity, as well as their reasons for traveling. therefore we will discard the GENERO column

In [124]:
#order to delete the columns
try:
  df=df.drop(['GENERO'],axis=1)    
    
except:
  print("Ya fueron borrados")

# **Data Cleaning**

We will proceed to do the necessary cleaning of the data to continue

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1703 entries, 0 to 1702
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   RANGO EDAD                1653 non-null   object
 1   MOTIVO VIAJE              1629 non-null   object
 2   NOCHES                    1547 non-null   object
 3   TIPO ALOJAMIENTO          1556 non-null   object
 4   GASTO TURISTICO GENERADO  1703 non-null   int64
 5   AÑO                       1703 non-null   int64
dtypes: int64(2), object(4)
memory usage: 80.0+ KB

In [126]:
#we want to find the missing data in the most important columns
resultado = df.loc[(df['TIPO ALOJAMIENTO'].isnull()) & (df['MOTIVO VIAJE'].isnull()) & (df['NOCHES'].isnull())]
resultado.head(100)

,RANGO EDAD,MOTIVO VIAJE,NOCHES,TIPO ALOJAMIENTO,GASTO TURISTICO GENERADO,AÑO
415,27-38,NaN,NaN,NaN,600000,2021
456,27-38,NaN,NaN,NaN,700000,2021
1129,NaN,NaN,NaN,NaN,0,2022

I see that rows 415, 456 and 1129  has almost all the data missing, so I'll delete it from the dataset to remove the noise.

In [127]:
#order to delete the rows
try:
  df = df.drop(1129)
  df = df.drop(456)
  df = df.drop(415)
except:
  print("ya fueron borrados")


# **Data Transformation**
After performing the data cleaning, we are going to do the necessary transformation to establish the model

In [ ]:
#create an auxiliar DataFrame to make the Transformation
df_transform=df